		



@model DtoMotorista

<h1>Cadastrar Veículo</h1>

<form asp-action="Create" method="post">
    <div>
        <label>Nome do veículo</label>
        <input asp-for="nome" />
    </div>

    <br />

    <button type="submit">Salvar</button>
</form>
